<div data-controller="text-update" class="note-container" data-text-update-target="formContainer">
  <% if params[:folder_id]%>
      <%= simple_form_for [folder, note] do |f| %>
      <%= f.input :name,input_html: { class: "input-field" } %>
      <%= f.input :content, input_html: { class: "input-field content" } %>
      <%= f.button :submit, "Add note" %>
      <% end %>
    </div>
  <% else %>
      <%= simple_form_for note, data:{text_update_target: "form", action: "keyup->text-update#update"} do |f| %>
      <%= f.input :name, input_html: { class: "input-field", data: {text_update_target: "name"} }  %>
      <%= f.input :content, input_html: { class: "input-field content" } %>
      <%# <span>Update Note</span>
      <%= f.button :submit, "Update", { class: "material-symbols-outlined" } %>
      <% end %>
  <% end %>
</div>
