<div data-controller="text-update">
  <% if params[:folder_id]%>
      <%= simple_form_for [folder, note] do |f| %>
      <%= f.input :name,input_html: { class: "input-field" } %>
      <%= f.input :content, input_html: { class: "input-field" } %>
      <%= f.button :submit, "Add note" %>
      <% end %>
    </div>
  <% else %>
      <%= simple_form_for note, data:{text_update_target: "form", action: "keyup->text-update#update"} do |f| %>
      <%= f.input :name,input_html: { class: "input-field" } %>
      <%= f.input :content, input_html: { class: "input-field" } %>
      <%= f.button :submit, "Update note" %>
      <% end %>
  <% end %>
</div>
