<h1>Hi!</h1>

<% @folders.each do |folder| %>
  <%= folder.name %>
<% end %>

<h2>Add a folder</h2>

<%= simple_form_for [@folder] do |f| %>
  <div class="m-3">
    <%= f.input :name, placeholder: "new folder" %>
    <%# <%= f.button :submit %>
  </div>
<% end %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
