<div class="wrapper" data-controller="sidebar">
  <div class="sidebar" data-sidebar-target="sidebarDiv">
    <div class="logo-details">
      <i class="material-symbols-outlined">auto_stories</i>
      <span class="logo_name">niPedia</span>
    </div>
    <ul class="nav-links">
    
      <li>
        <%= link_to folders_path do %>
          <i class="material-symbols-outlined">folder</i>
          <span class="link_name">Folders</span>
        <% end %>
      </li>

      <li class="icon-link">
        <%= link_to notes_path do %>
          <i class="material-symbols-outlined">manage_search</i>
          <span class="link_name">Find Notes</span>
        <% end %>
      </li>

      <li class="icon-link">
        <%= link_to new_note_path do %>
          <i class="material-symbols-outlined">playlist_add </i>
          <span class="link_name">New Note</span>
        <% end %>
      </li>

      <li class="icon-link">
        <%= link_to root_path do %>
          <i class="material-symbols-outlined">edit_note </i>
          <span class="link_name">Edit last Note</span>
        <% end %>
      </li>

      <li class="icon-link">
        <%= link_to taggings_path(format: :html) do %>
          <i class="material-symbols-outlined">hub</i>
          <span class="link_name">Graph Overview</span>
        <% end %>
      </li>

      <li id="profile-list-item">
        <div class="profile-details" data-sidebar-target="profileDetails">
          <div class="profile-content">
          </div>
          <div class="name-job">
            <div class="profile_name"><%= current_user.email %></div>
            <%# <div class="job">Web Desginer</div> %>
          </div>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <i class="material-symbols-outlined">logout</i>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <%# <section class="home-section">
    <div class="home-content">
      <i class="fa-solid fa-bars" data-action="click->sidebar#toggleClose"></i>
    </div>
  </section> %>
</div>
